
###> symfony/framework-bundle ###
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/
/app/vendor/
/app/node_modules/
/app/tools/php-cs-fixer/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/app/phpunit.xml/app
/app.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/app/.phpunit.result.cache
/app/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/app/public/assets/
/app/assets/vendor/
###< symfony/asset-mapper ###

###> php-cs-fixer/shim ###
/app/.php-cs-fixer.php
/app/.php-cs-fixer.cache
###< php-cs-fixer/shim ###

###> phpstan/phpstan ###
/app/phpstan.neon
###< phpstan/phpstan ###
