body {
    background-color: skyblue;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    font-family: 'Arial', sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

h3 {
    text-align: center;
}
.past-departure {
    background-color: red;
}
.future-departure {
    background-color: #98ea98;
}

